* {
    margin: 0;
    box-sizing: border-box;
}

header,
main,
aside,
footer {
    border: 1px solid black;
    text-align: center;
    min-height: 100px
}

main,
aside {
   display: inline-block;
   height: calc(100vh - 200px);
}

.left {
    width: 300px;
    float: left;
}

.right {
    width: 200px;
    float: right;
}

main {
  width: calc(100% - 500px);  
}

